body {
	

	background: #00C9FF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #00C9FF , #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px #888;
}

h1, h3 {
	font-family: 'Raleway', sans-serif;
}

#container {
	width: 60%;
	margin:  20px auto;
	padding: 25px;
	overflow: auto;
}

header {
	text-align: center;
	border-bottom: #fff solid 2px;
}

footer {
	text-align: center;
	border-top: #fff solid 1px;
}

input[type='submit']{
	background: #99ccff;
	border: #888 solid 1px;
	padding: 1em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	border-radius: 10px;
}
#results {
	background-color: #00ff00;
}

#results h3 {
	padding:10px;
	margin: 10px 0;
}

#results span {
	font-weight: bold;
}